#tiempossal_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    color: #fbfdfd;
    border-radius: 4px;
}

#display_txt{
    font-family: Arial;
    font-weight: bold;
    text-align:left;
    font-size: 16px;
    color: #020202f8;
    border-radius: 4px;
}

#time_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #020202f8;
    border-radius: 4px;
}


#TA_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #020202f8;
    border-radius: 4px;
}

#peso_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #020202f8;
    border-radius: 4px;
}

#largos_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #020202f8;
    border-radius: 4px;
}

#anchos_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #020202f8;
    border-radius: 4px;
}
